@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif; 
}

@layer utilities {
  .logo-img {
    width: 170px;
    height: auto;
    object-fit: contain;
    display: block;
  }
}